---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
	font-family: 'Fira Sans', sans-serif;
}
h1 {
	font-weight: 600;
}

.section-header {
  margin-top: 1em;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.logo {
    display: inline-block;
    width: 120px;
    min-height: 120px;
    max-height: auto;
    margin: 3px;
    padding: 3px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.session-section{
  margin-top: 1em;
}

.hall-of-fame {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.hall-of-fame-hero {
    width: 140px;
    margin: 1rem;
    text-align: center;

    .name {
        margin-top: 0.5rem;
    }

    .contact-items {
        margin-top: 0.2rem;
    }

    img {
        background-color: white;
        border-radius: 20px;
        border: 1px solid #ccc;
        padding: 5px;
        width: 100%;
        -webkit-transition: border 0.2s ease-in-out;
        -o-transition: border 0.2s ease-in-out;
        transition: border 0.2s ease-in-out;

        &:hover,
        &:focus,
        &:active {
                border-color: blue;
        }
    }
}

.module-start {
    margin-top: 1em;
}

.video-metadata {
	table tr td {
		padding: 0.3em;
	}
	table tr td:first-child {
		text-align: right;
	}
}

.accordion {
   margin-bottom: 2em;
   h3 {
      margin-top: 1em;
   }
}

.accordion-body{
  p {
    margin: 1em;
  }
}

.btn-square-small {
  width: 50px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 50px !important;
  text-align: center;
  padding: 5px;
  font-size:7px;
  margin: 5px;
}

.btn-square-medium {
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
  text-align: center;
  padding: 5px;
  font-size:12px;
  margin: 5px;
}

.btn-square-large {
  width: 150px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 150px !important;
  text-align: center;
  padding: 5px;
  font-size:18px;
  margin: 5px;
}

.btn-square-extralarge {
  width: 200px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 200px !important;
  text-align: center;
  padding: 5px;
  font-size:24px;
  margin: 5px;
}

dl {
	padding: 0.5em;
}
dt {
	float: left;
	clear: left;
	width: 100px;
	text-align: right;
	font-weight: bold;
}
dd {
	margin: 0 0 0 110px;
	padding: 0 0 0.5em 0;
}

.calendar-add {
	margin-right: 0.2em;
}

a {
	/* wcag AAA */
	color: #1b529b;
}


/* cyrillic-ext */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/video-library/assets/fonts/va9E4kDNxMZdWfMOD5VvmojLeTY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/video-library/assets/fonts/va9E4kDNxMZdWfMOD5Vvk4jLeTY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/video-library/assets/fonts/va9E4kDNxMZdWfMOD5Vvm4jLeTY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/video-library/assets/fonts/va9E4kDNxMZdWfMOD5VvlIjLeTY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/video-library/assets/fonts/va9E4kDNxMZdWfMOD5VvmIjLeTY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/video-library/assets/fonts/va9E4kDNxMZdWfMOD5VvmYjLeTY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/video-library/assets/fonts/va9E4kDNxMZdWfMOD5Vvl4jL.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url(/video-library/assets/fonts/va9B4kDNxMZdWfMOD5VnSKzeSxf6TF0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url(/video-library/assets/fonts/va9B4kDNxMZdWfMOD5VnSKzeQhf6TF0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url(/video-library/assets/fonts/va9B4kDNxMZdWfMOD5VnSKzeShf6TF0.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url(/video-library/assets/fonts/va9B4kDNxMZdWfMOD5VnSKzeRRf6TF0.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url(/video-library/assets/fonts/va9B4kDNxMZdWfMOD5VnSKzeSRf6TF0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url(/video-library/assets/fonts/va9B4kDNxMZdWfMOD5VnSKzeSBf6TF0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url(/video-library/assets/fonts/va9B4kDNxMZdWfMOD5VnSKzeRhf6.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


ul.plain-text-list {
	margin: 0.1em;
	li {
		list-style: none;
	}
}
