---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";



.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}


.logo {
    display: inline-block;
    width: 120px;
    min-height: 120px;
    max-height: auto;
    margin: 3px;
    padding: 3px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.session-section{
  margin-top: 1em;
}

.hall-of-fame {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.hall-of-fame-hero {
    width: 140px;
    margin: 1rem;
    text-align: center;

    .name {
        margin-top: 0.5rem;
    }

    .contact-items {
        margin-top: 0.2rem;
    }

    img {
        background-color: white;
        border-radius: 20px;
        border: 1px solid #ccc;
        padding: 5px;
        width: 100%;
        -webkit-transition: border 0.2s ease-in-out;
        -o-transition: border 0.2s ease-in-out;
        transition: border 0.2s ease-in-out;

        &:hover,
        &:focus,
        &:active {
                border-color: blue;
        }
    }
}
